.ip_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ip_div:hover span {
    color: #4571ff;
}

.ip_div:hover a {
    opacity: 1;
}

.ip_div > span {
    width: 2.5em;
    text-align: center;
    border: solid 1px transparent;
    border-radius: 3px;
    transition: linear 0.1s;
}

.ip_div > a {
    cursor: pointer;
    background: transparent;
    opacity: 0.1;
    transition: linear 0.1s;
}
